In [10]:
# Objectives
objectives = ['Understanding Data science', 'Various DS language details', 'Various DS tools Details', 'Hands-on using Jupyterlite']

# iterate through the list
for objective in objectives:
    print(objective)

Understanding Data science
Various DS language details
Various DS tools Details
Hands-on using Jupyterlite

In [11]:
'''
DAta Sscience Tools and Ecosystem
'''

'\nDAta Sscience Tools and Ecosystem\n'

In [14]:

'''
Some of the popular Languages that Data Scientist use are
'''
blob = ["Python", "R", "scala"]
for number, letter in enumerate(blob):
    print(number, letter)

0 Python
1 R
2 scala

In [15]:
'''
Some of the commonly used libraries by Data Scientist use are
'''
blob = ["Pandas", "Numpy", "Ski-learn"]
for number, letter in enumerate(blob):
    print(number, letter)

0 Pandas
1 Numpy
2 Ski-learn

In [18]:
#import module
from tabulate import tabulate
    
mydata= [ ["Apache Spark"], ["D3.js"], ["IBM SPSS"], ["Julia"] ]
Head =['Data Scientist Tools']
print(tabulate(mydata, headers=Head, tablefmt="grid"))

+------------------------+
| Data Scientist Tools   |
+========================+
| Apache Spark           |
+------------------------+
| D3.js                  |
+------------------------+
| IBM SPSS               |
+------------------------+
| Julia                  |
+------------------------+

In [20]:
'''
Below are a few examples of evaluating arithmetic expression in python
'''
a=7
b=2

#Addition
print("Sum",a+b)

#Substraction
print("substraction", a-b)

#Multiplication
print("Multiplication", a*b)

#Division
print("Division", a/b)

Sum 9
substraction 5
Multiplication 14
Division 3.5

In [21]:
#this is simple arithmetic experssion to multiply then add integers
print("ans", (3*4)+5)

ans 17

In [22]:
#This will convert 200 minutes to hours by diving by 60
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes200
Hours= 3
Minutes= 20